<div class="row">
<!-- Profile and Connections -->

<!-- New Post and Scheduled -->
	<div class="col-md-2 text-center">
		<%= image_tag "Quest_Visual_logo.png", class: "logo" %>
		<hr>
		<div class="timezone">
			<p class="text-center"><b><%= Time.zone.name %> Timezone</b></p>
			<%= link_to "change", edit_user_registration_path %>
		</div>
		<hr>
		<div class="social">
		</div>
	</div>

<!-- History -->

</div>